<a id='about'></a>
<div class='about'>
  <header>
    <h2>
      About
    </h2>
  </header>
  <div class='content'>
    <div class='description'>
      <p>We are a small group of designers and coders, obsessively passionate about functional, semantic, minimal and aesthetic digital experiences.</p>

      <p>Our focus on design, despite being engineers, stems from our understanding of the value in design in engineering. We recognize that all
      engineering marvels are unmistakably labors of design at their finest.</p>

      <p>We believe good design is product of careful elimination of the unwanted and representing just the crux of the functionality in an
      intuitive and coherent aesthetic that its intended audience can appreciate with little or no learning.</p>

      <p>Come say hi, if you feel you share the spirit of what we are. We just might be able to carve out your idea into an experience
      people would love and make their own.</p>
    </div>
  </div>
</div>
