<a id='work'></a>
<div class='work a_dozen_letters'>
  <div class='wrap'>
    <header>
      <h2>
        Work
      </h2>
    </header>
    <div class='app_icon'>
            <a href="http://itunes.apple.com/in/app/id698206350?mt=8&at=10l6Xd&ct=1fobf3fen5cyl"><img alt="A Dozen Letters" width="256" height="256" src="assets/images/icon.png" />
      </a>

    </div>
    <h2 class='app_name'>
      A Dozen Letters
    </h2>
    <p class='text description'>
      'A Dozen Letters' is a tiny little word game for your iPhone. The goal
      of the game is to find a triplet (a set of 3 words) before time runs out.
      It's as simple as that! Of course it's more challenging than it sounds.
    </p>
    <p class='screenshot'>
      <img alt="A Dozen Letters, game screen" width="320" height="568" src="assets/images/work/adl/screenshot-1.jpg" />
    </p>
    <p class='app_store'>
      <a target="_blank" class="flat_button" href="http://itunes.apple.com/in/app/id698206350?mt=8&at=10l6Xd&ct=1fobf3fen5cyl">download free from app store</a>
    </p>
  </div>
</div>
